.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

.bg-logo{
    background-image: url("logo_transparent.png");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 5px;
    background-position-y: 10px;
}

html{
    scroll-behavior: smooth;
}

hr{
    margin-bottom: 30px
}